#featured-exhibition
	position fixed
	width 100%
	top 0
	left 0
	height 100vh
	padding-left "calc(16.6666667% - %s)" % ($padding)
	padding-right "calc(16.6666667% - %s)" % ($padding)
	padding-top ($padding-desktop*2+$logo-height-desktop*2)
	padding-bottom ($padding-desktop*2+$logo-height-desktop)
	// padding-bottom (1.2 + $padding * 2)
	+below($md)
		padding-top ($padding-mobile*2+$logo-height-mobile)
		padding-bottom ($padding-mobile*3+$logo-height-mobile)
		+landscape()
			padding-top 0
			padding-bottom 0
			position initial
			height auto !important
	img
		width 100%
		min-height 70px
		+above($md + 1)
			object-fit contain
			height 100%
	#featured-exhibition--description
		position absolute
		bottom 0
		left 0
		padding 0 $padding
		width 100%
		+below($md)
			+landscape()
				position initial
				span(1)
		
		