footer
	position fixed
	bottom 0
	left 0
	width 100%
	text-align center
	padding 0 $padding
	z-index 300
	background $primary
	.inner
		padding 1em 0 $padding-desktop
		border-top 1px solid
	h1
		display none
	#site-title
		height 6rem
		img
			display block